* {
  border: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: #000;
  border-bottom: 3px solid transparent;
  color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #ffffff;
  border-bottom: 3px solid rgba(255, 255, 255, 0.66);
}

#workspaces button.focused {
  background: rgba(255, 255, 255, 0.33);
  border-bottom: 3px solid rgba(255, 255, 255, 0.66);
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-spotify, #custom-rot90, #tray, #mode, #idle_inhibitor {
  color: #ffffff;
  background-color: transparent;
  padding: 0 8px;
  margin: 0 4px;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
}

#mode {
  background: rgba(255, 255, 255, 0.33);
  border-bottom-color: rgba(255, 255, 255, 0.66);
}

#clock {
  border-bottom: 3px solid rgba(255, 255, 255, 0.66);
}

#battery.charging {
  border-bottom: 3px dotted rgba(255, 255, 255, 0.66);
}

#battery.warning:not(.charging) {
  border-bottom: 3px solid #bb0000;
}

@keyframes battery-blink {
  to {
    background-color: #bb0000;
  }
}

#battery.critical:not(.charging) {
  animation-name: battery-blink;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  padding: 0;
  border-bottom-color: #1b9e77;
}

#memory {
  padding: 0;
  border-bottom-color: #66a61e;
}

#backlight {
  border-bottom-color: #a6761d;
}

#network {
  border-bottom-color: #7570b3;
}

#network.disconnected {
  border-bottom-color: #e7298a;
}

#pulseaudio {
  background: #f1c40f;
  color: #000000;
}

#pulseaudio.muted {
  background: #90b1b1;
  color: #2a5c45;
}

#custom-spotify {
  background: #66cc99;
  color: #2a5c45;
}

#temperature {
  background: #f0932b;
}

#temperature.critical {
  background: #eb4d4b;
}

#tray {
  background-color: #2980b9;
}

#idle_inhibitor {
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.33);
  border-bottom-color: rgba(255, 255, 255, 0.33);
}

#idle_inhibitor.activated {
  color: #fff;
  border-top-color: rgba(255, 255, 255, 0.33);
  border-bottom-color: transparent;
  border-bottom-width: 0px;
}

#custom-rot90 {
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 6px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.33);
}
